:root {
    --main-color: #912A2F;
    --light-accent: #FCD205;
    --light-shades: #DEECE4;
    --dark-accent: #97A8B4;
    --dark-shades: #262638;
    --nav_typography-font-family: "Open Sans", Arial, Helvetica, sans-serif;
    --nav_typography-font-weight: 700;
    --nav_typography-font-size: 14px;
    --nav_typography-letter-spacing: 1px;


    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: var(--light-accent);
}

ol, ul {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/* Navbar */
#navbar {
    --navbar-height: 100px;
    height: var(--navbar-height);
    background-color: var(--main-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
    display: flex;
    justify-content: left;
    height: 100%;
    width: 100%;
    align-items: center;
}

#navbar-logo {
    margin-right: 1em;
}

#navbar-toggle {
    display: none;
}

#navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-links {
    list-style: none;
    height: 100%;
    white-space: nowrap;
}

.navbar-item {
    display: inline;
    margin: 1em;
    width: 100%;
}

.navbar-links .navbar-item .navbar-link .menu-text {
    font-family: var(--nav_typography-font-family);
    font-weight: var(--nav_typography-font-weight);
    font-size: var(--nav_typography-font-size);
    letter-spacing: var(--nav_typography-letter-spacing);
}

.navbar-links .navbar-item .navbar-link:hover {
    color: var(--light-accent);
}

@media screen and (max-width: 768px) {
    .navbar-container {
        justify-content: space-between;
    }

    #navbar-toggle {
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: var(--navbar-text-color);
    }

    #navbar-toggle:is(:focus, :hover) .icon-bar {
        background-color: var(--navbar-text-color-focus);
    }

    #navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
        position: absolute;
        margin: 0;
        width: 30px;
    }

    #navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
        transform: rotate(45deg);
    }

    #navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
        opacity: 0;
    }

    #navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
        transform: rotate(-45deg);
    }

    #navbar-menu {
        position: fixed;
        top: var(--navbar-height);
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        left: 0;
        right: 0;
    }

    #navbar-social-media {
        display: none;
    }

    .navbar-item {
        display: block;
    }

    #navbar-toggle[aria-expanded="true"] + #navbar-menu {
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 1;
        visibility: visible;
    }

    #navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--dark-shades);
        border-radius: 0 0 10px 10px;
        width: 90%;
        height: fit-content;
    }
}

/* ----- */

/* index.html Hero Section */
#hero {
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-image: url('assets/Musikverein 2019.jpg');
}

.wrap {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    position: relative;
}

.text_over_image {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    height: 100px;
}

/* ----- */

/* Events */
.eventDiv {
    display: flex;
    justify-content: left;
}

.dateDiv {
    width: fit-content;
    height: fit-content;
    align-items: center;
    padding: 3em;
}

.dateWeekday {

}

.date {

}
/* ----- */

/* Footer */
footer {
    height: fit-content;
    color: var(--light-shades);
    background-color: var(--dark-shades);
}

.footer-section {
    padding: 3em 0;
}

@media screen and (max-width: 768px){
    .footer-section {
        padding: 1.5em 1.5em;
    }
}

.footer-social-media-link {
    align-items: center;
    display: flex;
    justify-content: start
}

.footer-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    float: left;
    width: 20px;
    height: 20px;
    margin-inline-end: 10px;
}

.footer-sep {
    border-top: 2px solid var(--light-accent);
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    max-width: 40px;
}

/* ----- */